<div class="center-wrap">
  <div class="section text-center">
    <h4 class="mb-4 pb-3">Sign Up</h4>
    <div class="form-group">
      <div class="container parent" id="check">
        <div class="row">
            <div class='col text-center'>
            <input type="radio" name="imgbackground" id="img1" class="d-none imgbgchk" value="student">
              <label for="img1">
                <h6>Student</h6>
                <img src="https://drive.google.com/uc?export=view&id=1_4644SwjtxBM0H86jm7faVqCzvDtJ7us" alt="Image student" height="70px">
                <div class="tick_container">
                  <div class="tick"><i class="fa fa-check"></i></div>
                </div>
                </label>
            </div>
            <div class='col text-center'>
            <input type="radio" name="imgbackground" id="img2" class="d-none imgbgchk" value="trainer">
              <label for="img2">
                <h6>Trainer</h6>
                <img src="https://drive.google.com/uc?export=view&id=1dW5XhsdrVdG9A1gAaYdVZ11JBQ1NMVxF" alt="Image 2" height="20px" width="20px">
                <div class="tick_container">
                  <div class="tick"><i class="fa fa-check"></i></div>
                </div>
              </label>
            </div>
          </div>
        </div>
    </div>
    <form [formGroup]="form" #formDir = ngForm>
    <div class="form-group">
      <input type="text" name="logname" class="form-style" formControlName="name" placeholder="Your Full Name" id="name" autocomplete="off">
      <i class="input-icon uil uil-user"></i>
      <div *ngIf="name.invalid && (name.touched||name.dirty)">
        <div *ngIf="name.errors?.['minlength']" class="err">
             Name must be at least 4 characters long.
        </div>
        <div *ngIf="name.errors?.['required']" class="err">
             Name is required
        </div>
        <div *ngIf="name.errors?.['maxlength']" class="err">
          Name must be at least 18 characters long.
        </div>
      </div>
    </div>

    <div class="form-group mt-2">
      <input type="email" name="logemail" class="form-style" formControlName="email" placeholder="Your Email" id="logemail" autocomplete="off">
      <i class="input-icon uil uil-at"></i>
      <div *ngIf="email.invalid && (email.touched || email.dirty)" >
        <div  *ngIf="email.errors?.['required']" class="err">
          Email is required
        </div>
        <div *ngIf="email.errors?.['email']" class="err">
          Email is invalid
        </div>
      </div>

    </div>
    <div class="form-group mt-2">
      <input type="password" name="logpass" class="form-style" formControlName="password" placeholder="Your Password" id="logpass" autocomplete="off">
      <i class="input-icon uil uil-lock-alt"></i>
      <div *ngIf="password.invalid && (password.touched || password.dirty)">
        <div style="font-size: small;" *ngIf="password.errors?.['required']" class="err">
          password is required
        </div>

        <div style="font-size: small;float: left;" *ngIf="password.errors?.['pattern']" class="err">
          password must contain one letter from A-Z ,a-z,numericals and special characters of length 8 to 16
        </div>
      </div>
    </div>
    <!-- <a href="#" class="btn mt-4">submit</a> -->
    <button [disabled]="form.invalid" type="submit" class="btn mt-4">submit</button>&nbsp;&nbsp;
                      <button href="#" routerLink="/login" (click)="formDir.resetForm({})" class="btn mt-4">resest</button>
  </form>
      </div>
    </div>
